<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>WP lab - Confirmation Info</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Pizza Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td><p th:text="${order.clientName}"></p></td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td><p th:text="${order.clientAddress}"></p></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td><p th:text="${IP}"></p></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td><p th:text="${browser}"></p></td>
        </tr>
        <tr>
            <td><b>Pizza Type </b></td>
            <td><p th:text="${order.pizzaType}"></p></td>
        </tr>
        <tr>
            <td><b>Pizza Size </b></td>
            <td><p th:text="${order.pizzaSize}"></p></td>
        </tr>
    </table>
    <div>
        <form th:action="@{/LogOut.do}" method="POST">
            <input type="submit" value="LogOut"/>
        </form>
    </div>


</section>
</body>
</html>